.footer{
    display: flex;
    align-content: center;
    align-items: center;
    padding: 3rem 6rem;
    font-size: 2rem;
    font-family: 'Stylish';
    color: #666;
    user-select: none;
}
.footer-icon{
    width: 2.5rem;
    height: 2.5rem;
    padding-top: .5rem;
}
